*.pyc

design/app/fpga/implementation/

design/app/fpga/fpga_tcr\.dir/

design/DigDrv\.v2/PCB/allegro_free_viewer\.jrl

design/app/fpga/\.ncd_editor\.ini

design/app/fpga/\.recovery

design/app/fpga/\.setting\.ini

design/app/fpga/fpga_tcl\.html

design/app/fpga/promote\.xml

design/app/fpga/reportview\.xml

design/app/fpga/\.run_manager\.ini
