*.pyc
design/app/fpga/implementation/.vdbs
design/app/fpga/implementation/*.html
design/app/fpga/implementation/.ltmp*
design/app/fpga/implementation/reveal*
design/DigDrv\.v2/PCB/allegro_free_viewer\.jrl

design/app/fpga/implementation/\.build_status

design/app/fpga/implementation/automake\.log

design/app/fpga/implementation/__tsef\.v

design/app/fpga/implementation/fpga_implementation\.alt

design/app/fpga/implementation/fpga_implementation\.arearep

design/app/fpga/implementation/fpga_implementation\.bgn
