rvl_alias "clk1" "pll_inst/clkos";
RVL_ALIAS "clk2" "pll_inst/clkop"; 
RVL_ALIAS "clk2" "pll_inst/clkop"; 
RVL_ALIAS "clk3" "pll_inst/clkos"; 
RVL_ALIAS "clk2" "pll_inst/clkop"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "XY_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XY_SYNC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XY_X" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XY_Y" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XY_STATUS" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_tx1" SITE "37" ;
LOCATE COMP "uart_tx2" SITE "39" ;
LOCATE COMP "uart_rx1" SITE "38" ;
LOCATE COMP "uart_rx2" SITE "40" ;
LOCATE COMP "TEMP_DATA" SITE "74" ;
LOCATE COMP "YDAC_SDO" SITE "98" ;
LOCATE COMP "YPADC_SDO0" SITE "120" ;
LOCATE COMP "YPADC_SDO1" SITE "113" ;
LOCATE COMP "TEMP_CLK" SITE "73" ;
LOCATE COMP "TEMP_CS" SITE "77" ;
LOCATE COMP "YDAC_CS" SITE "92" ;
LOCATE COMP "YDAC_RST" SITE "90" ;
LOCATE COMP "YDAC_RSTSEL" SITE "93" ;
LOCATE COMP "YDAC_SCK" SITE "94" ;
LOCATE COMP "YDAC_SDI" SITE "96" ;
LOCATE COMP "YPADC_RVS" SITE "122" ;
LOCATE COMP "YPADC_SDI" SITE "115" ;
LOCATE COMP "cfg_done" SITE "72" ;
IOBUF PORT "YPADC_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YPADC_RVS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YPADC_SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YPADC_SDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "cfg_done" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_LDAC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_RST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_RSTSEL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_SDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_RST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_RVS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_SDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TEMP_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TEMP_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_LDAC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_RST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_RSTSEL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_SCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_SDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YPADC_SDO0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YPADC_SDO1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "YDAC_SDO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_SDO0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XPADC_SDO1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TEMP_DATA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XDAC_SDO" IO_TYPE=LVCMOS33 ;
LOCATE COMP "XPADC_RST" SITE "124" ;
LOCATE COMP "XPADC_SDI" SITE "125" ;
LOCATE COMP "XPADC_SDO0" SITE "130" ;
LOCATE COMP "XPADC_SDO1" SITE "131" ;
LOCATE COMP "XPADC_RVS" SITE "132" ;
LOCATE COMP "XDAC_RST" SITE "134" ;
LOCATE COMP "XDAC_CS" SITE "142" ;
LOCATE COMP "XDAC_LDAC" SITE "137" ;
LOCATE COMP "XDAC_RSTSEL" SITE "144" ;
LOCATE COMP "XDAC_SDO" SITE "144" ;
LOCATE COMP "XY_X" SITE "30" ;
LOCATE COMP "XY_Y" SITE "31" ;
LOCATE COMP "XY_SYNC" SITE "35" ;
LOCATE COMP "XY_STATUS" SITE "36" ;
LOCATE COMP "XIADC_CLKIN" SITE "19" ;
IOBUF PORT "XIADC_CLKIN" IO_TYPE=LVCMOS33 ;
LOCATE COMP "YIADC_CLKIN" SITE "15" ;
IOBUF PORT "YIADC_CLKIN" IO_TYPE=LVCMOS33 ;
LOCATE COMP "XIADC_MDAT" SITE "21" ;
IOBUF PORT "XIADC_MDAT" IO_TYPE=LVCMOS33 ;
LOCATE COMP "YIADC_MDAT" SITE "16" ;
IOBUF PORT "YIADC_MDAT" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_in" SITE "78" ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33 ;
LOCATE COMP "XY_CLK" SITE "32" ;
BLOCK JTAGPATHS ;
LOCATE COMP "XPADC_CS" SITE "127" ;
LOCATE COMP "XPADC_SCK" SITE "129" ;
LOCATE COMP "XDAC_SCK" SITE "143" ;
LOCATE COMP "XDAC_SDI" SITE "138" ;
LOCATE COMP "YDAC_LDAC" SITE "91" ;
LOCATE COMP "YPADC_CS" SITE "116" ;
LOCATE COMP "YPADC_SCK" SITE "119" ;
LOCATE COMP "YPADC_RST" SITE "114" ;
IOBUF PORT "YPADC_RST" IO_TYPE=LVCMOS33 ;
