rvl_alias "clk2" "clk2";
RVL_ALIAS "clk2" "pll_inst/clkop"; 
RVL_ALIAS "clk2" "pll_inst/clkop"; 
RVL_ALIAS "clk3" "pll_inst/clkos"; 
RVL_ALIAS "clk2" "pll_inst/clkop"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "xy_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "XY_sync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xy_x" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xy_y" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xy_status" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_tx1" SITE "37" ;
LOCATE COMP "uart_tx2" SITE "39" ;
LOCATE COMP "uart_rx1" SITE "38" ;
LOCATE COMP "uart_rx2" SITE "40" ;
LOCATE COMP "temp_data" SITE "74" ;
LOCATE COMP "ydac_sdo" SITE "98" ;
LOCATE COMP "ypadc_sdo0" SITE "120" ;
LOCATE COMP "ypadc_sdo1" SITE "113" ;
LOCATE COMP "temp_clk" SITE "73" ;
LOCATE COMP "temp_cs" SITE "77" ;
LOCATE COMP "ydac_cs" SITE "92" ;
LOCATE COMP "ydac_rst" SITE "90" ;
LOCATE COMP "ydac_rstsel" SITE "93" ;
LOCATE COMP "ydac_sck" SITE "94" ;
LOCATE COMP "ydac_sdi" SITE "96" ;
LOCATE COMP "ypadc_rvs" SITE "122" ;
LOCATE COMP "ypadc_sdi" SITE "115" ;
LOCATE COMP "cfg_done" SITE "72" ;
IOBUF PORT "ypadc_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ypadc_rvs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ypadc_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ypadc_sdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "cfg_done" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_ldac" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_rstsel" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_sdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_rvs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_sdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "temp_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "temp_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_ldac" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_rstsel" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_sdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ypadc_sdo0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ypadc_sdo1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ydac_sdo" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_sdo0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xpadc_sdo1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "temp_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xdac_sdo" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xpadc_rst" SITE "124" ;
LOCATE COMP "xpadc_sdi" SITE "125" ;
LOCATE COMP "xpadc_sdo0" SITE "130" ;
LOCATE COMP "xpadc_sdo1" SITE "131" ;
LOCATE COMP "xpadc_rvs" SITE "132" ;
LOCATE COMP "xdac_rst" SITE "134" ;
LOCATE COMP "xdac_cs" SITE "142" ;
LOCATE COMP "xdac_ldac" SITE "137" ;
LOCATE COMP "xdac_rstsel" SITE "144" ;
LOCATE COMP "xdac_sdo" SITE "144" ;
LOCATE COMP "xy_x" SITE "30" ;
LOCATE COMP "xy_y" SITE "31" ;
LOCATE COMP "xy_sync" SITE "35" ;
LOCATE COMP "xy_status" SITE "36" ;
LOCATE COMP "xiadc_clkin" SITE "19" ;
IOBUF PORT "xiadc_clkin" IO_TYPE=LVCMOS33 ;
LOCATE COMP "yiadc_clkin" SITE "15" ;
IOBUF PORT "yiadc_clkin" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xiadc_mdat" SITE "21" ;
IOBUF PORT "xiadc_mdat" IO_TYPE=LVCMOS33 ;
LOCATE COMP "yiadc_mdat" SITE "16" ;
IOBUF PORT "yidac_mdat" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_in" SITE "78" ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33 ;
LOCATE COMP "xy_clk" SITE "32" ;
BLOCK JTAGPATHS ;
LOCATE COMP "xpadc_cs" SITE "127" ;
LOCATE COMP "xpadc_sck" SITE "129" ;
LOCATE COMP "xdac_sck" SITE "143" ;
LOCATE COMP "xdac_sdi" SITE "138" ;
LOCATE COMP "ydac_ldac" SITE "91" ;
LOCATE COMP "ypadc_cs" SITE "116" ;
LOCATE COMP "ypadc_sck" SITE "119" ;
LOCATE COMP "ypadc_rst" SITE "114" ;
IOBUF PORT "ypadc_rst" IO_TYPE=LVCMOS33 ;
